.pageContainer {
  height: 100%;
  width: 100%;
  background-color: var(--themeBackground);
  padding: 30px 0%;
  overflow: scroll;
  border-radius: 12px;
  user-select: text;
  overflow: hidden;
}

.overlay-animated-text {
  position: relative;
  display: inline-block;
  color: #111; /* or any text color you want */
  z-index: 0;
  overflow: hidden;
}

.overlay-animated-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: textOverlayShine 1s infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes textOverlayShine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes backgroundFlash {
  0% {
    background-color: #f0f0f0;
    /* light gray */
  }

  50% {
    background-color: #d6d6d6;
    /* medium gray */
  }

  100% {
    background-color: #f0f0f0;
  }
}

.tabHighlightBg {
  animation: backgroundFlash 1s ease-out;
}

::-webkit-scrollbar {
  display: none;
}

.bookTitle {
  /* font-family: 'Helvetica Neue', sans-serif; */
  font-size: 32px;
  margin-bottom: 60px;
  font-weight: 500;
  font-family: var(--text-bookchapter-font);
  color: var(--text-bookchapter-color);
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 22px; */
  font-weight: var(--text-bookchapter-weight);
  text-align: var(--text-bookchapter-alignment);
  text-decoration: var(--text-bookchapter-text-decoration);
  margin-top: var(--text-bookchapter-margin-top);
  margin-bottom: var(--text-bookchapter-margin-bottom);
  /* margin-left: var(--text-bookchapter-margin-left); */
  /* margin-right: var(--text-bookchapter-margin-right}
 */
  margin-left: calc(var(--text-bookchapter-margin-left) + 1vw);
  margin-right: calc(var(--text-bookchapter-margin-right) + 1vw);
}

.sectionTitle {
  font-family: var(--text-heading-font);
  color: var(--text-heading-color);
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 22px;
  font-weight: var(--text-heading-weight);
  text-align: var(--text-heading-alignment);
  text-decoration: var(--text-heading-text-decoration);
  margin-top: var(--text-heading-margin-top);
  margin-bottom: var(--text-heading-margin-bottom);
  /* margin-left: var(--text-heading-margin-left); */
  /* margin-right: var(--text-heading-margin-right); */
  margin-left: calc(var(--text-heading-margin-left) + 1vw);
  margin-right: calc(var(--text-heading-margin-right) + 1vw);
}

.sectionText {
  font-family: var(--text-verse-font);
  color: var(--text-verse-color);
  /* font-family: 'EB Garamond', sans-serif; */
  font-size: 20px;
  font-weight: var(--text-verse-weight);
  font-style: var(--text-verse-font-style);
  text-align: var(--text-verse-alignment);
  text-decoration: var(--text-verse-text-decoration);
  line-height: var(--text-verse-margin-top);
}

.sectionCover {
  /* margin-left: var(--text-verse-margin-left); */
  /* margin-right: var(--text-verse-margin-right); */
  margin-left: calc(var(--text-verse-margin-left) + 1vw);
  margin-right: calc(var(--text-verse-margin-right) + 1vw);
}

.sectionTextNumber {
  color: #287f71;
  font-family: "EB Garamond", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  margin: 0 5px;
}

.tabDrop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 12px;
}

.tabEntered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(190, 187, 187);
  border-radius: 12px;
}

.editVerseTitle {
  border-radius: 6px 6px 0px 0px;
  background: #4459f3;
  width: fit-content;
  padding: 10px 30px;
  color: white;
  position: absolute;
  top: -42px;
  font-size: 17px;
}

.swap-btn {
}
